<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Request Lldap Account</title>
</head>
<body>
  <h2>Request New Account</h2>
  <form action="/submit" method="POST">
    <label>Username*:<input name="username" required></label><br>
    <label>Email*:<input name="email" type="email" required></label><br>
    <label>Display Name:<input name="displayname"></label><br>
    <label>First Name:<input name="firstname"></label><br>
    <label>Last Name:<input name="lastname"></label><br>
    <button type="submit">Request Account</button>
  </form>
</body>
</html>
